body {
  font-family: "Raleway", sans-serif;
}
.border {
  border-radius: 10px;
}
.container {
  background: rgb(244, 241, 222);
}
.weather-app {
  max-width: 700px;
}
input.search {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}
.search-row {
  padding-bottom: 1em !important;
}
.searchButton,
.currentButton {
  width: 100%;
  height: 100%;
  background-color: rgb(129, 178, 154);
  font-weight: bold;
  color: white;
  border-radius: 10px;
  border-color: transparent;
}

.send {
  color: rgb(61, 64, 91);
  font-size: 30px;
}
h1 {
  color: rgb(61, 64, 91);
}
li {
  font-size: 15px;
  color: rgb(224, 122, 95);
}
.condition-row {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.forecast-row {
  padding-top: 1em !important;
  padding-bottom: 3em !important;
}
.current-weather {
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-top: 1em;
  margin-left: 15px;
}
.weather-img {
  float: right;
  width: 50%;
  margin-right: 10px;
}
.week-weather {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.days {
  color: rgb(129, 178, 154);
  font-size: 20px;
  text-align: center;
}
.next-temp {
  font-size: 15px;
}
footer {
  text-align: center;
  padding-bottom: 3em;
  color: grey;
  font-size: small;
}
footer a {
  color: rgb(224, 122, 95);
  text-decoration: none;
}
footer a:hover {
  color: rgb(129, 178, 154);
  cursor: pointer;
  text-decoration: underline;
}
